@import 'kth-style/public/sass/kth-bootstrap';

html {
  overflow-y: scroll;
  font-family: $sansSerif;
}

body {
  background: $white;
  color: $black;
  margin: 0;
  padding: $spacing;
}

.start_c2l2_form {
  display: flex;
  flex-direction: column;
}

.start_C2L2_button {
  align-self: end;
}

.button-section {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.grid-col-1 {
  grid-column: 1;
  place-self: flex-start;
}

.grid-col-2 {
  grid-column: 2;
  place-self: center;
}

.grid-col-3 {
  grid-column: 3;
  place-self: flex-end;
}
