@import 'kth-style/public/sass/kth-bootstrap';

html {
  overflow-y: scroll;
  font-family: $sansSerif;
}

body {
  background: $white;
  color: $black;
  margin: 0;
  padding: $spacing;
}

.start_c2l2_form {
  display: flex;
  flex-direction: column;
}

.start_C2L2_button {
  align-self: end;
}

.required_input {
  border: 3px solid red;
}

.form-footer-btn {

}
.form-footer{
  display: flex;
  justify-content: space-between;
  padding-top: 2em;
}