@import 'kth-style/public/sass/variables/_colors';
@import 'kth-style/public/sass/variables/_spacings';
@import 'kth-style/public/sass/variables/_fonts';

body {
    background: $white;
    color: $black;
    margin: 0;
    padding: $spacing;
}
