<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Export error</title>
  <link rel="stylesheet" type="text/css" href="{{prefix_path}}/dist/index.css">
</head>

<body>
  <h1>Export to Ladok failed</h1>
  <p>The app failed when trying to export grades from Canvas to Ladok. These could be some of the reasons of this problem:</p>
  <ul>
    <li>The Canvas assignment has an invalid grading scheme. For example, if the module in Ladok has a "P-F" schema, the same one has to be set in the assignment in Canvas</li>
    <li>The chosen "examination date" is not accepted by Ladok. Only dates in the past can be chosen</li>
  </ul>

  <p>If something is not working as intended or you need more help, contact IT support: <a href="mailto:it-support@kth.se">it-support@kth.se</a></p>
</body>

</html>
