<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Transfer error</title>
  <link rel="stylesheet" type="text/css" href="{{prefix_path}}/dist/index.css">
</head>

<body>
  <h1>Transfer to Ladok failed</h1>
  <details>
    <summary>{{summary}}</summary>
    <p>{{details}}</p>
  </details>

  <p>If something is not working as intended or you need more help, contact IT support: <a href="mailto:it-support@kth.se">it-support@kth.se</a></p>
</body>

</html>
