<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Start page</title>
  <link rel="stylesheet" type="text/css" href="{{prefix_path}}/dist/index.css">
</head>
<body>
  <h1>Export to Ladok has been completed</h1>

  <h2>Below you can see what has been updated in Ladok</h2>
  <p>If something is not working as intended or you need more help, contact IT support: <a href="mailto:it-support@kth.se">it-support@kth.se</a></p>
  <div id="root"></div>
  <script>
    window.__DATA__ = JSON.parse('{{{draft}}}')
  </script>
  <script src="{{prefix_path}}/dist/feedback.js"></script>
</body>
</html>
