<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Start page</title>
  <link rel="stylesheet" type="text/css" href="{{prefix_path}}/dist/index.css">
</head>
<body>
  <h1>Welcome to Resultatrapportering!</h1>

  <p>This is just an example page to style.  Or it may find a purpose
  serving basic info about the app.</p>

  <form>
    <button class="btn btn-primary">A button</button>
  </form>
</body>
</html>
