<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Start page</title>
  <link rel="stylesheet" type="text/css" href="{{prefix_path}}/dist/index.css">
</head>
<body>
  <form action="{{next}}" method="POST">
    <h1>Welcome to Resultatrapportering!</h1>
    <input type="hidden" name="custom_canvas_course_id" value="{{custom_canvas_course_id}}">
    <button type="submit">Launch the app</button>
  </form>
</body>
</html>
